In [1]:
101+101

202

In [2]:
15*45

675

In [3]:
type(675)

int

In [4]:
type(45.2)

float

In [6]:
75+45.5

120.5

#### Numeric data types include: Floats and Integers.
Floats are numbers with decimal points i.e 42.5
Integers are whole numbers i.e 675

A float combined with an integer returns a number that is a float.

In [8]:
type(True)

bool

In [9]:
"Lucy Munge".endswith("Munge")

True

In [12]:
"Lucy Munge".endswith("Lucy")

False

In [13]:
"Lucy Munge".startswith("Lucy")

True

In [14]:
100/20>10

False

In [16]:
50*2<200

True

## Data types as a choice

In [17]:
"34th street".title()

'34Th Street'

In [18]:
"34th Street"<22

TypeError: '<' not supported between instances of 'str' and 'int'

#### < does not work with str and int
We can go from an int to a string. Simply write the name of the type followed by parentheses and the data on which we we want to operate

In [19]:
str(34)+'th street'

'34th street'

In [20]:
type("34th street")

str

### STRINGS & NUMERIC TYPES

In [21]:
"art vanderlay".upper() #'ART VANDERLAY'

'ART VANDERLAY'

In [22]:
"art vanderlay".title() #'Art Vanderlay'

'Art Vanderlay'

In [24]:
"ceo".upper() #'CEO'

'CEO'

In [26]:
"art.vanderlay@vanderlay.com".endswith("com")

True

In [27]:
"art.vanderlay@vanderlay.co".endswith("com")

False

In [28]:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

"vandelay.com" is not preceded by "www.". We can perform what is called string concatenation to fix this! Use the plus sign, '+', to change the website 'vandelay.com' to the string 'www.vandelay.com' by prepending 'www.'.

In [30]:
x="vanderlay.com"
y="www."
z=y+x
print(z)

www.vanderlay.com

In [31]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

To add a space between them, add a " ":

In [37]:
a = "Hello"
b = "World"
c = a +" "+ b
print(c)

Hello World

## nb
For numbers, the + character works as a mathematical operator:

In [33]:
x = 5
y = 10
print(x + y)

15

If you try to combine a string and a number, Python will give you an error:

In [34]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [38]:
a="Lucy"
b="Muthoni"
c="Munge"
print(a+b+c)

LucyMuthoniMunge

In [40]:
a="Lucy"
b="Muthoni"
c="Munge"
print(a+" "+b+" "+c)

Lucy Muthoni Munge